#main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main-container h1 {
  font-size: 3rem;
}
#input-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
#input-section .start-time {
  width: 200px;
  background-color: white;
  color: black;
  border: none;
}
#input-section .submit-button {
  background-color: #007bff;
  color: white;
  height: 55px;
  width: auto;
  padding: 10px;
}
#input-section .submit-button:hover {
  background-color: #0064d0;
}
#timeline {
  margin: 50px;
  display: flex;
  width: 1000px;
  height: auto;
  padding: 30px;
  position: relative;
}
#timeline #time-start {
  position: relative;
  left: 0;
  margin-right: 20px;
  border-right: black 2px solid;
  padding: 10px;
}
#timeline #time-end {
  position: relative;
  right: 0;
  margin-left: 20px;
  border-left: black 2px solid;
  padding: 10px;
}
#timeline p {
  font-size: 2rem;
}
#timeline .timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
#timeline .timeline-item div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#timeline .timeline-item div .item-start {
  margin-right: auto;
}
#timeline .timeline-item div .item-end {
  margin-left: auto;
}
#timeline .timeline-item .bar {
  height: 10px;
  width: 100%;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
#timeline-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
* {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #cff2ff;
}
