#main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main-container h1 {
  font-size: 3rem;
}
#input-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
#input-section .start-time {
  width: 200px;
  background-color: white;
  color: black;
  border: none;
}
#input-section .submit-button {
  background-color: #007bff;
  color: white;
  height: 55px;
  width: auto;
  padding: 10px;
}
#input-section .submit-button:hover {
  background-color: #0064d0;
}
#timeline {
  margin: 50px;
  display: flex;
  width: 900px;
  height: auto;
  background-color: white;
  padding: 30px;
  position: relative;
}
#timeline #time-start {
  position: relative;
  left: 0;
}
#timeline #time-end {
  position: relative;
  right: 0;
}
#timeline p {
  font-size: 2rem;
}
#timeline .timeline-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  margin-right: auto;
}
#timeline .timeline-item .item-start {
  margin-right: auto;
}
#timeline .timeline-item .item-end {
  margin-left: auto;
}
#timeline .timeline-item .bar {
  height: 10px;
  width: 100%;
  margin-left: 8px;
  margin-right: 8px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
* {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #cff2ff;
}
